[Unit]
Description=Celery Flower Monitoring for __APP__
After=network.target redis-server.service
Wants=celery.service

[Service]
User=__APP__
Group=__APP__
Type=simple
WorkingDirectory=__INSTALL_DIR__
Environment="PATH=__INSTALL_DIR__/venv/bin:/usr/local/bin:/usr/bin:/bin"
EnvironmentFile=__INSTALL_DIR__/.env
ExecStart=__INSTALL_DIR__/venv/bin/celery \
    -A __PROJECT_NAME__ \
    --broker=__CELERY_BROKER_URL__ \
    flower \
    --port=__PORT_FLOWER__ \
    --loglevel=info \
    --url_prefix=flower \
    --basic_auth=__ADMIN__:__PASSWORD__

StandardOutput=append:/var/log/__APP__/__APP__-flower.log
StandardError=append:/var/log/__APP__/__APP__-flower.log

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
